{% extends 'base_landing.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="flex justify-center items-center px-4 py-12 my-4 sm:px-6 lg:px-8">
        <div class="space-y-8 w-full max-w-md">
            <div>
                <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
                    {% if token_fail %}
                        Bad Token
                    {% else %}
                        {% if form %}
                            Set your new password
                        {% else %}
                            Your password is now changed
                        {% endif %}
                    {% endif %}
                </h2>
                {% if token_fail %}
                    <p class="mt-2 text-sm text-center text-red-600">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </p>
                {% else %}
                    {% if form %}
                        <p class="mt-2 text-sm text-center text-gray-600">
                            Enter your new password below.
                        </p>
                    {% endif %}
                {% endif %}
            </div>

            {% if token_fail %}
                <div class="text-center">
                    <a href="{% url 'account_reset_password' %}"
                       class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md border border-transparent shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Request new reset link
                    </a>
                </div>
            {% else %}
                {% if form %}
                    <form class="mt-8 space-y-6" method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.non_field_errors | safe }}

                        <div class="-space-y-px rounded-md shadow-sm">
                            <div>
                                {{ form.password1.errors | safe }}
                                <label for="password1" class="sr-only">New Password</label>
                                {% render_field form.password1 placeholder="New password" id="password1" name="password1" type="password" autocomplete="new-password" required=True class="block relative px-3 py-2 w-full placeholder-gray-500 text-gray-900 rounded-none rounded-t-md border border-gray-300 appearance-none focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %}
                            </div>
                            <div>
                                {{ form.password2.errors | safe }}
                                <label for="password2" class="sr-only">Confirm Password</label>
                                {% render_field form.password2 placeholder="Confirm new password" id="password2" name="password2" type="password" autocomplete="new-password" required=True class="block relative px-3 py-2 w-full placeholder-gray-500 text-gray-900 rounded-none rounded-b-md border border-gray-300 appearance-none focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" %}
                            </div>
                        </div>

                        <div>
                            <button type="submit"
                                    class="flex relative justify-center px-4 py-2 w-full text-sm font-medium text-white bg-blue-600 rounded-md border border-transparent border-solid group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Change password
                            </button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
